<body>
    <div id="principal" class="row" *ngIf="misDatos">
        <div id="contenido" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="titulo"><h2>Proyectos</h2> <img [src]="misDatos.imagenes.agregar" class="imagen_titulo" (click)="abrirDialogo()"></div>
            <article *ngFor="let item of misDatosBd" class="article">
                <div>
                    <em><strong>{{item.nombreProyecto}}</strong></em><br>
                    {{item.fecha}}<br>
                    {{item.comentarios}}<br>
                    {{item.tecnologia}}<br>
                    {{item.url}}
                </div>
                <div class="botones">
                    <img class="imagen_botones" [src]="misDatos.imagenes.editar" (click)="abrirDialogoEditar(item.id,item.nombreProyecto,item.fecha,item.tecnologias, item.comentarios, item.url)">
                    <img class="imagen_botones" [src]="misDatos.imagenes.eliminar" (click)="eliminarProyectos(item.id)">
                </div>
            </article>           
            
        </div>
    </div>
    </body>