<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<body>
    <main class="container-fluid">
        <div id="principal" class="row">
            <div id="intereses" class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <article id="1" class="row article">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h3>Tengo interés en</h3>
                    </div>                    
                </article>
                <article id="2" class="row article">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    Mi principal interés se encuentra en las tecnologías aplicadas.
                    Crear soluciones a problemas cotidianos de la vida real.
                    Algunos de mis desarrollos fueron:
                    <ul>
                        <li>Sensor de encendido automático de luces</li>
                        <li>Robot seguidor de trayectorias</li>
                        <li>Aplicación para el cálculo del error en las mediciones de laboratorio</li>
                        <li>Aplicación para el procesamiento de datos adquiridos en el laboratorio</li>
                    </ul>
                    </div>
                    Actualmente busco dedicarme profesionalmente a la programación.
                </article>
            </div>
        </div>
    </main>
</body>