<body>
<div id="principal" class="row">
    <div id="contenido" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <h2>Acerca de mí</h2>
        <p>
            Nacido en la ciudad de {{misDatos && misDatos.lugar}}, Argentina el {{misDatos && misDatos.fecha}} .</p>
        <p>Estudio <strong>física y programación</strong> en la universidad nacional de Tucumán.<br></p>
        <p>
            Gracias a mis estudios en física y otras ciencias naturales y exactas pude desarrollar mi <strong>razonamiento y pensamiento
            lógico</strong>, como así también, la <strong>habilidad para la simplificación y la resolución de problemas prácticos</strong>.
        </p>
        <p>
            Mi trabajo como <strong>docente</strong> me enseñó a <strong>hablar frente al público</strong>, a <strong>transmitir mensajes
            de forma clara y precisa</strong> y a<strong> trabajar en grupo</strong>.
        </p>
        
    </div>
</div>

</body>